#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.avatar {
  width: 100%;
  height: auto;
  border: solid red;
}

.avatar:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  border: solid white 1px;
  max-width: 450px;
}

.role {
  color: #888;
}

.heading {
  padding: 10px;
  background-color: cornflowerblue;
}


.btn {
  margin: 20px 10px;
  padding: 10px 50px;
}
.buttons {
  text-align: center;

}
i {
  margin-right: 5px;
}

.heading {
  text-align: center;
}

.small-head, .gritty-content, p {
  padding: 0 10px;
}


footer {
  background-color: darkolivegreen;
  max-width: 100%;
  height: fit-content;
  padding: 10px;
}